<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color Palette Generator</title>
  </head>
  <body>
    <header>
      <h1>Welcome to Color Palette Generator</h1>
      <p>Upload your image here and get your palette of 10 colors!</p>
    </header>

    <form action="/" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" required />
      <button type="submit">Generate</button>
    </form>

    <div class="result"></div>
  </body>
</html>

<style></style>
